* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: rgba(255, 255, 255, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

.price {
    color: rgba(255, 255, 255, 1);

    font-family: 'DM Sans', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.btnCarousel {
    width: 193px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 1);
    color: #FFF;
    font-family: ' DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 1s;
}

.btnCarousel:hover {
    width: 193px;
    height: 53px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 2px solid rgba(255, 255, 255, 1);
    color: #595757;
    font-family: ' DM Sans',
        sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 1);
    ;
}

.ImgCarousel {
    width: 1248px;
    height: 646px;
    flex-shrink: 0;
}

.Subtitle {
    margin-left: -400px;
}

/* section 2 */

.section2 {
    margin-top: 64px;
    margin-left: 96px;
}

.TypeShop {
    color: rgba(0, 0, 0, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
}

.viewAll {
    color: rgba(161, 138, 104, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
    margin-left: 450px;
}

/* footer  */

.contact {
    color: rgba(112, 112, 112, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-left: 96px;
}

.services {
    color: rgba(112, 112, 112, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.shipping {
    color: rgba(112, 112, 112, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.footerTerms {
    color: rgba(112, 112, 112, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-top: 50px;
    margin-left: 96px;
    margin-bottom: 92px;
}

.strongFooter1 {
    color: rgba(0, 0, 0, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

.strongFooter2 {
    color: rgba(0, 0, 0, 1);
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}


.FooterPart2 {
    color: #707070;
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    margin-left: 200px;
}

.svg {
    margin-left: 100px;
}

.line {
    width: 396px;
    height: 1px;
    background: #000;
    margin-left: 200px;
}

.svg2 {
    margin-top: -50px;
    margin-left: 400px;
}
